.heroImage {
  background: url("../../Image/banner.jpg");
  /* display: flex; */
  /* justify-content: center;
  justify-items: center; */
  background-repeat: no-repeat;
  background-size: cover;
  
  border-radius: 30px;
}
